@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--font-xl: 4.209rem;
--font-l:3.157rem;
--font-m:2.369rem;
--font-s:1.333rem;
}
h1{
  font-size: var(--font-xl);
}
h2{
  font-size: var(--font-l);
}
h3{
  font-size: var(--font-m);
}
h4{
  font-size: var(--font-s);
}

button{
  
  background: #ff0063;
  border: 2px solid #ff0063;
  color: white;
  padding: 4px 25px;
  cursor: pointer;

}

article{
  padding: 20px;
  margin-top: 5rem;
  margin-left: 1rem;
  border: 1px solid #e7e7e7;
  
}
section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.details{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.buttons{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.line-bar{
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.red{
  width: 50%;
  height: 10px;
  display: block;
  background-color: red;
}
.green{
  width: 50%;
  height: 10px;
  display: block;
  background-color: green;
}
.amt-spent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}